#layout{
    margin-top: 50px;
    margin-bottom: 30px;
}

.card-body .box{
    height: 10px;
    margin: 10px;
    background-color: whitesmoke;
}

.card .cover{
    height: 180px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}