#conch-banner{
    background-color: black;
    color: white;
}

#conch-banner img{
    width: 100%;
}

#detail{
    padding: 5rem;
}

#detail h1{
    padding-bottom: 1rem;
}

#pic{
    padding-right: 0;
}
