body{
    padding-top: 50px;
}

.logo{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

footer{
    background-color: whitesmoke;
}

footer .title{
    font-weight: 600;
    color: #616161;
    margin-top: 20px;
}

footer a {
    color: #616161;
}

#footerInfo{
    padding-top: 30px;
    padding-bottom: 0;
}