body{
    padding-top: 50px;
}

.logo{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.banner{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#banner1 h1{
    color: blueviolet;
}

#banner1 img{
    border-radius: 20px;
}

#banner2{
    background-color: yellowgreen;
}

#banner3{
    background-color: black;
    color: white;
}

#banner4{
    background-color: blueviolet;
    color: white;
}

footer{
    background-color: whitesmoke;
}

footer .title{
    font-weight: 600;
    color: #616161;
    margin-top: 20px;
}

footer a {
    color: #616161;
}

#footerInfo{
    padding-top: 30px;
    padding-bottom: 0;
}