<link rel="stylesheet" href="/css/brain.css"/>

<div id="systemList">

    <div class="container">

        <div class="row">
            
            <div class="col-md-4">
                <div class="card text-white system">
                    <img src="https://lllxy.oss-cn-shenzhen.aliyuncs.com/ConchbrainClub/Images/ubuntu.png" class="card-img">
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white system">
                    <img src="https://lllxy.oss-cn-shenzhen.aliyuncs.com/ConchbrainClub/Images/centos.png" class="card-img">
                </div>
            </div>

        </div>

    </div>

</div>