<link rel="stylesheet" href="/css/conch.css"/>
<script src="/js/conch.js"></script>

<div id="layout" class="container">

    <div id="articles"></div>
    
    <!-- <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="cover">
                    <a href="@article.link" style="background-image:url('@article.cover');"></a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="@article.link">@article.title</a>
                    </h5>
                    <p class="card-text">@article.desc</p>
                    <p class="card-text">@article.time</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="cover">
                    <a href="@article.link" style="background-image:url('@article.cover');"></a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="@article.link">@article.title</a>
                    </h5>
                    <p class="card-text">@article.desc</p>
                    <p class="card-text">@article.time</p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="text-center m-3">
        <button class="btn btn-light" type="button" onclick="loadNext()">
            <span>加载更多</span>
            <span id="loadingNext" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
        </button>
    </div>


</div>