<link rel="stylesheet" href="/css/conch.css"/>
<script src="/js/conch.js"></script>

<div id="layout" class="container">

    <div class="row">

        <div class="col-md-10">

            <div id="articles" class="row">
                
                <div class="col-md-6">
                    <div class="card-box mb-3">
                        <div class="cover"></div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-desc"></p>
                            <p class="card-lang"></p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="card-box mb-3">
                        <div class="cover"></div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-desc"></p>
                            <p class="card-lang"></p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="card-box mb-3">
                        <div class="cover"></div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-desc"></p>
                            <p class="card-lang"></p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="card-box mb-3">
                        <div class="cover"></div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-desc"></p>
                            <p class="card-lang"></p>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="text-center m-3">
                <button class="btn btn-light" type="button" onclick="loadNext()" disabled>
                    <span>加载更多</span>
                    <span id="loadingNext" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <div id="timeline" class="col-md-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item card-box"><p class="card-desc"></p></li>
                <li class="list-group-item card-box"><p class="card-desc"></p></li>
                <li class="list-group-item card-box"><p class="card-desc"></p></li>
                <li class="list-group-item card-box"><p class="card-desc"></p></li>
                <li class="list-group-item card-box"><p class="card-desc"></p></li>
                <li class="list-group-item card-box"><p class="card-desc"></p></li>
                <li class="list-group-item card-box"><p class="card-desc"></p></li>
            </ul>
        </div>

    </div>
</div>