<div class="container mt-5 mb-5 animate__animated animate__fadeIn">
    <div class="text-center">
        <h1>Welcome to ConchBrain CorsProxy</h1>
        <p>Cross-origin Resource Sharing Proxy Service</p>
    </div>
    <hr />

    <div class="alert alert-primary">
        Interactive Demo：
        <a href="https://conchbrainclub.github.io/CorsProxy/example/" target="_blank">Fetch</a>
    </div>

    <h2>Usage</h2>
    <p>Api: https://cors.conchbrain.workers.dev</p>
    <p>Method: GET</p>
    <p>
    Para:
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;
    Proxy address (eg. https://www.conchbrain.club)
    </p>

    <hr/>

    <h5>CORS:</h5>

    <pre>
    fetch("https://www.conchbrain.club/").then((res)=>{
        res.text().then((data)=>{
            console.log(data);
        });
    });
    </pre>
    
    <div class="alert alert-danger">
        <strong>Result:</strong>
        Access to fetch at 'https://www.conchbrain.club/' from origin 'http://example.com' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.
    </div>

    <hr/>

    <h5>UseProxy:</h5>

    <pre>
    fetch("https://cors.conchbrain.workers.dev?https://www.conchbrain.club/").then((res)=>{
        res.text().then((data)=>{
            console.log(data);
        });
    });
    </pre>

    <div class="alert alert-success">
        <strong>Result:</strong> Response Successful
    </div>
    
<div>