<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - #Codevember10 - CRT TV Effect</title>
  <link rel="stylesheet" href="/css/demo.css">

</head>
<body>
<!-- partial:index.partial.html -->
<main class="scanlines">
        <div class="screen">
            <canvas id="canvas" class="picture"></canvas>
            <div class="overlay">
                <div class="text">
                    <span>AV-1</span>
                </div>
                <div class="menu">
                    <header>
                        Main Menu
                    </header>
                    <ul>
                        <li class="active"><a href="#" title="">Picture</a></li>
                        <li><a href="#" title="">Sound</a></li>
                        <li><a href="#" title="">About</a></li>
                        <li><a href="#" title="">Contact</a></li>
                    </ul>
                    <footer>
                        <div class="key">Exit: <span>1</span></div>
                        <div class="key">Select: <span>2</span></div>
                    </footer>
                </div>
            </div>
        </div>
    </main>
    <!-- partial -->
    <script  src="/js/demo.js"></script>

</body>
</html>
