<link rel="stylesheet" href="/css/favourites.css" />
<script src="/js/favourites.js"></script>

<div class="container mt-5 mb-5 animate__animated animate__fadeIn">
    <h2 class="display-4 mb-5">My Favourites</h2>

    <div id="favouriteList" class="row">

        <div class="col-md-6">
            <div class="card-box mb-3">
                <div class="cover"></div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-desc"></p>
                    <p class="card-lang"></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card-box mb-3">
                <div class="cover"></div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-desc"></p>
                    <p class="card-lang"></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card-box mb-3">
                <div class="cover"></div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-desc"></p>
                    <p class="card-lang"></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card-box mb-3">
                <div class="cover"></div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-desc"></p>
                    <p class="card-lang"></p>
                </div>
            </div>
        </div>
        
    </div>
</div>