<link rel="stylesheet" href="/css/home.css" />

<div id="conch-banner" class="animate__animated animate__fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div id="pic" class="col-md-6 order-md-2 text-center">
                <img src="/image/pic6.png" />
            </div>

            <div id="detail" class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                <h1 class="mb-3">海螺大脑俱乐部</h1>
                <p class="lead">
                    <i>"这个海螺什么都知道！！"---派大星</i>
                </p>
                <p class="lead">
                    <i>"我们的会员做什么事情之前都会问这个海螺！！"---海绵宝宝</i>
                </p>
                <p class="lead">
                    <i>"万岁，魔法海螺！！"---俱乐部的会员们</i>
                </p>
                <div id="opt" class="row mx-n2">
                    <div class="col-md px-2">
                        <a class="btn btn-outline-secondary" onclick="navigate('intro')">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>