<link rel="stylesheet" href="../css/home.css"/>

<div class="banner" id="banner1">
    <div class="container">
        <div class="row">
        <div class="col-6 mx-auto col-md-6 order-md-2 text-center">
            <img class="img-fluid mb-3 mb-md-0" src="../img/pic1.png" height="400"/>
        </div>
        <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
            <h1 class="mb-3">海螺大脑俱乐部</h1>
            <p class="lead">
                "oh! 看起来你似乎进入了一个奇怪的地方!"
            </p>
            <p class="lead">
            "♫欢迎加入俱乐部，♫欢迎加入俱乐部，欢迎，欢迎，欢迎，欢迎，欢迎，欢迎，欢迎，欢迎..."
            </p>
            <p class="lead">
            魔法海螺是《海绵宝宝》第42集《海绵宝宝俱乐部）中出现的秘密武器。当你有所疑问时，拉一下魔法海螺的绳子，不论什么问题它都会回答你，有时问题的答案甚至会从天上掉下来。
            </p>
            <div class="row mx-n2">
            <div class="col-md px-2">
                <a class="btn btn-lg btn-bd-primary w-100 mb-3" onclick="createVideo()" data-toggle="modal" data-target="#exampleModalCenter">了解更多</a>

                <div class="modal fade" id="exampleModalCenter" onclick="removeVideo()" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document"></div>
                </div>

            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="banner" id="banner2">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto col-md-6 order-md-1 text-center">
                <img class="img-fluid mb-3 mb-md-0" src="../img/pic2.png" height="400"/>
            </div>

            <div class="col-md-6 order-md-2 text-center text-md-left pr-md-5">
                <h1 class="mb-3">海螺大脑俱乐部？</h1>
                <p class="lead">
                海螺大脑俱乐部是一个汇聚了各种奇思妙想的开发者组织。
                </p>
                <p class="lead">
                在这你可以和其他开发者一起交流有趣的想法和创意,并试着实现它们!
                </p>
                <p class="lead">
                还有各种脑洞奇大,有趣的软件项目,可供学习下载和分享,
                </p>
                <p class="lead">
                当然,最重要的是我们有一个会说话的贝壳!
                </p>
                <p class="lead">
                参加俱乐部就永远是会员!
                </p>

            </div>
        </div>
    </div>
</div>

<div class="banner" id="banner3">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto col-md-6 order-md-2 text-center">
                <img class="img-fluid mb-3 mb-md-0" src="../img/pic3.png" height="400"/>
            </div>

            <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                <h1 class="mb-3">加入之后我能干什么？</h1>
                <p class="lead">
                与团队成员分享你的创意!
                </p>
                <p class="lead">
                一起协作开发有趣的软件!
                </p>
                <p class="lead">
                为你的简历添上一份经历!
                </p>
                <p class="lead">
                尽情享受软件开发的乐趣!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="banner" id="banner4">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto col-md-6 order-md-1 text-center">
                <img class="img-fluid mb-3 mb-md-0" src="../img/pic4.png" height="400"/>
            </div>

            <div class="col-md-6 order-md-2 text-center text-md-left pr-md-5">
                <h1 class="mb-3">为什么不问问神奇的魔法海螺呢?</h1>
                <p class="lead">
                    "你为什么不问它点什么问它点什么问它点什么!!"---派大星
                </p>
            </div>
        </div>
    </div>
</div>
