<link rel="stylesheet" href="/css/intro.css" />
<script src="/js/intro.js"></script>

<div id="banners" class="animate__animated animate__fadeIn">

    <div class="banner" id="banner1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2 text-center">
                    <img class="img-fluid mb-3 mb-md-0" src="/images/pic1.png" height="400" />
                </div>
                <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                    <h1 class="mb-3">海螺大脑俱乐部</h1>
                    <p class="lead">
                        <i>"oh! 看起来你似乎进入了一个奇怪的地方!"</i>
                    </p>
                    <p class="lead">
                        <i>"♫欢迎加入俱乐部，♫欢迎加入俱乐部，欢迎，欢迎，欢迎，欢迎，欢迎，欢迎，欢迎，欢迎..."</i>
                    </p>
                    <div class="row mx-n2">
                        <div class="col-md px-2">
                            <a class="btn btn-outline-dark btn-lg w-100 mt-3" onclick="createVideo()"
                                data-toggle="modal" data-target="#exampleModalCenter">观看视频</a>

                            <div class="modal fade" id="exampleModalCenter" data-backdrop="static" tabindex="-1"
                                role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner" id="banner2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-1 text-center">
                    <img class="img-fluid mb-3 mb-md-0" src="/images/pic2.png" height="400" />
                </div>

                <div class="col-md-6 order-md-2 text-center text-md-left pr-md-5">
                    <h1 class="mb-3">参加俱乐部就永远是会员！</h1>
                    <p class="lead">
                        "是我的海螺告诉我来这里救你们的！！"---我们的会员
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="banner" id="banner3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2 text-center">
                    <img class="img-fluid mb-3 mb-md-0" src="/images/pic3.png" height="400" />
                </div>

                <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                    <h1 class="mb-3">这个贝壳是我们俱乐部的基础？</h1>
                    <p class="lead">
                        "魔法海螺，我会结婚吗？"---海绵宝宝
                    </p>
                    <p class="lead">
                        "可能会有这么一天"---魔法海螺
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="banner" id="banner4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-1 text-center">
                    <img class="img-fluid mb-3 mb-md-0" src="/images/pic4.png" height="400" />
                </div>

                <div class="col-md-6 order-md-2 text-center text-md-left pr-md-5">
                    <h1 class="mb-3">为什么不问问神奇的魔法海螺呢？</h1>
                    <p class="lead">
                        <i>"你为什么不问它点什么问它点什么问它点什么！！"---派大星</i>
                    </p>
                    <a class="btn btn-outline-light btn-lg w-100 mt-3" onclick="alert('暂时下线...')"
                        href="javascript:void(0);">今日的海螺推荐</a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner" id="banner5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2 text-center">
                    <img class="img-fluid mb-3 mb-md-0" src="/images/pic5.png" height="400" />
                </div>

                <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                    <h1 class="mb-3">我们不能在这里什么也不做！！</h1>
                    <p class="lead">
                        <i>"我实在不敢相信你们居然相信一个贝壳说的话！！"---章鱼哥</i>
                    </p>
                    <a class="btn btn-outline-light btn-lg w-100 mt-3" onclick="alert('开发中...')"
                        href="javascript:void(0);">试一试</a>
                </div>
            </div>
        </div>
    </div>

</div>