<div class="container mt-5 mb-5 animate__animated animate__fadeIn">
    <div class="text-center">
        <h1>Welcome to ConchBrain KVStorage</h1>
        <p>WebApi Based Key Value Pair Storage</p>
    </div>
    <hr />

    <div class="alert alert-primary">
        Interactive Demo：
        <a href="https://conchbrainclub.github.io/KVStorage/example/" target="_blank">Node.js</a>
    </div>

    <h2>Set Data</h2>
    <p>Api: https://storage.conchbrain.workers.dev/demo/set</p>
    <p>Method: PUT</p>
    <p>Content-Type: application/json</p>
    <p>
    Para:
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;
    Custom bucket name (eg. demo)
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;
    Request body with key and value ( key must be a string )
    </p>

    <h5>Example:</h5>
    <pre>
    curl -X PUT 'https://storage.conchbrain.workers.dev/demo/set' \
        -H 'Content-Type: application/json;' \
        -d '{ "key": "Hi", "value": "ConchBrain KVStorage" }'
    </pre>
    <p class="alert alert-success"><strong>Response:</strong> "Put successful"</p>

    <hr />
    <h2>Get Data</h2>
    <p>Api: https://storage.conchbrain.workers.dev/demo/get</p>
    <p>Method: GET</p>
    <p>Para:
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;
    Custom bucket name (eg. demo)
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;
    key
    </p>
    <h5>Example:</h5>
    <pre>
    curl https://storage.conchbrain.workers.dev/demo/get?Hi
    </pre>
    <p class="alert alert-success"><strong>Response:</strong> "Welcome"</p>

    <hr />
    <h2>Get All Data</h2>
    <p>Api: https://storage.conchbrain.workers.dev/demo</p>
    <p>Method: GET</p>
    <p>Para:
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;
        Custom bucket name (eg. demo)
    <h5>Example:</h5>
    <pre>
    curl https://storage.conchbrain.workers.dev/demo
    </pre>
    <p class="alert alert-success"><strong>Response:</strong> JsonStr</p>
  
    <hr />
    <h2>Delete Data</h2>
    <p>Api: https://storage.conchbrain.workers.dev/demo/delete</p>
    <p>Method: DELETE</p>
    <p>Para:
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;
    Custom bucket name (eg. demo)
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;
    key
    </p>
    <h5>Example:</h5>
    <pre>
    curl -X DELETE https://storage.conchbrain.workers.dev/demo/delete?hello
    </pre>
    <p class="alert alert-success"><strong>Response:</strong> "Delete successful"</p>
<div>
