<script>
    window.addEventListener('message', e => {
        document.querySelector('#main #loading').remove()
        document.querySelector('iframe').height = e.data
    }, false)
</script>

<div id="loading" class="container">
    <div class="row"><div class="rounded box box-6"></div></div>
    <div class="row"><div class="rounded box box-10"></div></div>
    <div class="row"><div class="rounded box box-4"></div></div>
    <div class="row"><div class="rounded box box-8"></div></div>
    <div class="row"><div class="rounded box box-3"></div></div>
    <div class="row"><div class="rounded box box-10"></div></div>
    <div class="row"><div class="rounded box box-4"></div></div>
    <div class="row"><div class="rounded box box-8"></div></div>
    <div class="row"><div class="rounded box box-3"></div></div>
    <div class="row"><div class="rounded box box-10"></div></div>
    <div class="row"><div class="rounded box box-6"></div></div>
    <div class="row"><div class="rounded box box-10"></div></div>
    <div class="row"><div class="rounded box box-4"></div></div>
    <div class="row"><div class="rounded box box-8"></div></div>
    <div class="row"><div class="rounded box box-3"></div></div>
</div>

<iframe src="https://mixapi.conchbrain.club" width="100%" height="0" scrolling="no" frameborder="0"></iframe>
