<link rel="stylesheet" href="/css/notfound.css" />

<div id="notfound" class="container-fluid animate__animated animate__fadeIn">
    <div class="row">
        <div id="info" class="col-md-6 text-center">
            <h1>Ooops !</h1>
            <br />
            <p>这里什么也没有</p>
            <p><i>"我们不是原始人，我们拥有高科技" ---派大星</i></p>
            <br />
            <button class="btn btn-outline-secondary" onclick="navigation('home')">返回主页</button>
        </div>
    
        <div class="col-md-6">
            <img src="https://conchbrain.oss-cn-shenzhen.aliyuncs.com/images/notfound.png" />
        </div>
    </div>
</div>