<link rel="stylesheet" href="/css/proxyservice.css" />
<script src="/js/proxyservice.js"></script>

<div id="bg" class="animate__animated animate__fadeIn">
    <div class="container pt-5 pb-5">

        <div class="text-center m-5 p-3">
            <h1>ConchBrain ProxyService</h1>
        </div>
    
        <div class="input-group mt-5 mb-5 pt-5 pb-5">
            <div id="input-group">
                <input type="text" class="form-control" id="link" autocomplete="off" placeholder="搜索或输入 Web 地址">
                
                <button class="btn btn-info" onclick="search()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 22 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
            </div>
        </div>
    
    </div>
</div>