<link rel="stylesheet" href="/css/tmail.css" />
<script src="/js/tmail.js"></script>

<div class="bg-light py-5">
    <div class="container">
        <h1 class="display-4">Tmail</h1>
        <p class="lead">Temporary email service</p>
        <hr />

        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-outline-primary" type="button" onclick="getNewAddress()">Get New Address</button>
            </div>
            <input id="address" type="text" class="form-control" placeholder="Email Address" />
            <div class="input-group-append">
                <span class="input-group-text">@conchbrain.club</span>
                <button class="btn btn-success" type="button" onclick="copyAddress()">Copy</button>
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="row mt-3">
        <div class="col">
            <div class="row">
                <div class="inbox-leftbar pb-3 px-3">
                    <button id="refresh" class="btn btn-primary btn-block" onclick="getInbox()">Refresh</button>

                    <div class="mail-list mt-4">
                        <a class="list-group-item border-0 text-primary font-weight-bold">
                            Inbox
                            <span class="badge badge-primary float-right ml-2 mt-1 counter">8</span>
                        </a>
                    </div>
                </div>

                <div class="inbox-rightbar px-3">
                    <div class="position-relative">
                        <lottie-player src="/lottie/tmail.json" autoplay></lottie-player>
                        <div class="message-list px-3 border-top"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="emailModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emailModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body overflow-auto">
                <div id="email">
                    <div class="spinner-grow text-dark mx-auto d-block" role="status" />
                </div>
            </div>
        </div>
    </div>
</div>