<script src="/js/toss.js"></script>

<div class="container mt-5 mb-5 animate__animated animate__fadeIn">
    <div class="text-center">
        <h1>ConchBrain TOSS</h1>
        <p>Temporary object storage service (24h validity)</p>
    </div>

    <div class="jumbotron p-3">
        <div class="card">
            <div class="card-body text-center m-5 p-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
                    class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
                    <path
                        d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z" />
                    <path
                        d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                </svg>

                <p class="lead mt-4">Drag file or folder here</p>
            </div>
        </div>

        <div class="input-group my-3">
            <div class="container m-0 p-0">
                <div class="row">
                    <div class="col-md">
                        <div class="custom-file" onclick="addFile()">
                            <label class="custom-file-label">Choose File</label>
                        </div>
                    </div>
    
                    <div class="col-md">
                        <div class="custom-file" onclick="addFolder()">
                            <label class="custom-file-label">Choose Folder</label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button type="button" class="btn btn-outline-secondary btn-block" onclick="upload()">Upload</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="progress bg-white">
            <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
        </div>

    </div>

    <div class="jumbotron p-3">
        <div id="fileList" class="accordion"></div>
    </div>

    <div class="jumbotron p-3">
        <div id="uploaded" class="accordion"></div>
    </div>
<div>
